[user]
	email = whatot2@gmail.com
	name = whatot
[credential]
	helper = cache --timeout 3600
[merge]
	tool = meld
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	autocrlf = input
	editor = vim
	ignorecase = false
[push]
	default = upstream
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log --pretty=oneline -1 HEAD
	glog = log --graph  --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%Cblue%an%Creset%Cgreen %cr)%Creset '
	# 删除最近一个提交，保留文件修改
	undo = reset --soft HEAD^
	# 删除最近一个提交，不保留文件
	cancel = reset --hard HEAD^
	# 提交完了，发现还需要一点小修改，不想新建一个提交
	onemore = commit -a --amend --no-edit
[http]
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[pull]
	ff = only
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
