path_prefer() {
  local entry=$1
  [[ -d "${entry}" ]] || return
  path=("${entry}" "${(@)path:#${entry}}")
}

case $(uname -s) in
  Darwin)
    typeset -gU path PATH
    path=(${path:#})
    path_prefer "/usr/local/sbin"
    path_prefer "/usr/local/bin"
    path_prefer "${HOME}/go/bin"
    path_prefer "${HOME}/.cargo/bin"
    path_prefer "${HOME}/.local/bin"
    path_prefer "/opt/homebrew/opt/coreutils/libexec/gnubin"
    path_prefer "/opt/homebrew/sbin"
    path_prefer "/opt/homebrew/bin"
    ;;
  Linux)
    typeset -gU path PATH
    path=(${path:#})
    path_prefer "${HOME}/go/bin"
    path_prefer "${HOME}/.cargo/bin"
    path_prefer "${HOME}/.local/bin"
    export TERM="${TERM:-xterm-256color}"
    ;;
  *) ;;
esac

unset -f path_prefer

export GOPATH="${HOME}/go/"

export HOMEBREW_BOTTLE_DOMAIN="${HOMEBREW_BOTTLE_DOMAIN:-https://mirrors.ustc.edu.cn/homebrew-bottles}"
export HOMEBREW_API_DOMAIN="${HOMEBREW_API_DOMAIN:-https://mirrors.ustc.edu.cn/homebrew-bottles/api}"

export RUSTUP_DIST_SERVER="${RUSTUP_DIST_SERVER:-https://rsproxy.cn}"
export RUSTUP_UPDATE_ROOT="${RUSTUP_UPDATE_ROOT:-https://rsproxy.cn/rustup}"

export PUB_HOSTED_URL="${PUB_HOSTED_URL:-https://pub.flutter-io.cn}"
export FLUTTER_STORAGE_BASE_URL="${FLUTTER_STORAGE_BASE_URL:-https://storage.flutter-io.cn}"
