alias_ll_command() {
  case "${DOTFILES_SHELL_OS}" in
  Darwin)
    printf '%s' 'ls -alFG'
    ;;
  Linux)
    printf '%s' 'ls -alF --color=auto'
    ;;
  *)
    printf '%s' 'ls -alF'
    ;;
  esac
}

setup_aliases() {
  if is_command bat; then
    alias cat="bat"
  fi

  alias ll="$(alias_ll_command)"
  alias ..="cd .."
  alias ...="cd ../.."
  alias m="mise run"
  alias pn="pnpm"
  alias gf="git pull"
  alias myip="curl myip.ipip.net"

  if is_command brew; then
    alias bubu="brew update && brew outdated && brew upgrade && brew cleanup"
    register_completion bubu _brew brew
  fi

  register_completion m _mise_run_completion
  register_completion mise _mise
  register_completion pnpm _pnpm_completion
  register_completion pn _pnpm_completion
  register_completion gf _git git-pull
  register_completion myip _curl
}
