# managed by chezmoi

{{ $ghostty := get . "ghostty" | default (dict) -}}
theme = GitHub Dark Default
font-family = JetBrainsMono Nerd Font
font-size = {{ get $ghostty "font_size" | default "14" }}
window-padding-x = 8
window-padding-y = 6
confirm-close-surface = false

{{- if eq .chezmoi.os "darwin" }}
macos-titlebar-style = tabs
macos-option-as-alt = true
{{- end }}
