# Start configuration added by Zim install {{{
#
# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.
#

#
# Modules https://zimfw.sh/docs/modules/
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
# Adds aliases and better defaults for exa/eza.
zmodule exa
# Sets up the direnv Zsh shell integration
zmodule direnv
# Config then adds aliases for Homebrew.
zmodule homebrew
# add z, a smarter cd command
zmodule kiesman99/zim-zoxide
# Shown when there is no command and user presses ENTER.
zmodule magic-enter
# Manage your dotfiles across multiple diverse machines
zmodule joke/zim-chezmoi
# Mise: dev tools, env vars, task runner
# https://github.com/jdx/mise
# https://mise.jdx.dev/walkthrough.html
zmodule joke/zim-mise
# https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/shrink-path
zmodule ohmyzsh/ohmyzsh --root plugins/shrink-path

# Configures fzf for faster fetching of files and directories names.
# fzf (https://github.com/chinanf-boy/fzf-zh)
# CTRL-T 将选定的文件和目录粘贴到命令行上
#  - 设置FZF_CTRL_T_COMMAND覆盖默认命令
#  - 设置FZF_CTRL_T_OPTS传递其他选项
# CTRL-R 将所选命令从历史记录粘贴到命令行
#  - 如果要按时间顺序查看命令,请按CTRL-R再次按相关性切换排序
#  - 设置FZF_CTRL_R_OPTS传递其他选项
# ALT-C cd进入所选目录(Esc+C in item)
#  - 设置FZF_ALT_C_COMMAND覆盖默认命令
#  - 设置FZF_ALT_C_OPTS传递其他选项
zmodule fzf

#
# Prompt
#

# Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule duration-info
# Exposes git repository status information to prompts, used by asciiship.
zmodule git-info
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
zmodule asciiship

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# }}} End configuration added by Zim install

